<div class="container">
  <div class="text-container">
    <div class="text-box">
      <h3><strong>本当に退会しますか？</strong></h3>
      <p class="unsubscribe-text">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="btn-container">
    <div class="unsubscribe-box">
      <%= link_to '退会しない', public_customers_path, class: "btn btn-primary col-md-2 unsubscribe-btn" %>
      <%= link_to '退会する', public_customers_unsubscribe_path, method: :patch, class: "btn btn-danger col-md-2 unsubscribe-btn" %>
    </div>
  </div>
</div>
