// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-small{
  padding: 0.3rem 0.5rem!important;
  font-size: 0.75rem!important;
}

.table-compact{
  vertical-align: middle!important;
  padding: 0.2rem!important;
}

.customer-info-table{
  height: 180px;
}

.customer-info{
  width: 50%;
}

.info-table{
  height: 100px;
}

.info{
  width: 90px;
}

.thanks{
  height: 300px;
  display: flex;
  justify-content: center;
}

.thanks-text{
  line-height: 300px;
}