<div class="container mt-5 mb-5">
  <div class="row">
    <h5 class="p-2 bg-light">ジャンル編集</h5>
    <div class="col-11">
      <%= form_with model:@genre,url: {controller: 'genres', action: 'update' },local:true,method: :patch do |f| %>
        <div class="form-group">
          <%= f.label "ジャンル名",class: 'm-2' %>
          <%= f.text_field :name, class: 'form-control　col-3 m-2' %>
          <%= f.submit "変更を保存", class: 'btn btn-success m-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>