<table class="table border">
  <thead>
    <tr>
      <th><strong>ジャンル検索</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        ケーキ<br/>
        焼き菓子<br/>
        プリン<br/>
        キャンディ<br/>
      </td>
    </tr>
  </tbody>
</table>